<div class="container-xl">
    <div class="row searchRow">
        <div class="col-lg-12">
            <img src="https://fontmeme.com/permalink/200611/65ca505017db3f3ecf7d7fcd3f743e02.png" alt="Search for Pokemon" class="searchFor">

            <form class="input-group">
                <input class="form-control mr-sm-2 searchBar" type="search" placeholder="Search Pokemon" aria-label="Search">
                <button class="searchBtn"><i class="fas fa-search"></i></button>
            </form>
            
            <div class="error" style="display: none;"></div>
        </div>
    </div>

    <div class="row pokemonRow">
        {{#each pokemon}}
            <div class="col-lg-3">
                <a href="/pokemon/{{this.dataValues.id}}" class="pokemonSearch">
                    <div class="card resultCard">
                        <div class="card-body">
                                {{#if this.dataValues.sprite}}
                                <img src="{{this.dataValues.sprite}}" alt="Picture of {{this.dataValues.name}}" class="resultImg">
                                {{/if}}

                                {{#unless this.dataValues.sprite}}
                                <img src="/img/no-img.jpg" alt="Picture of {{this.dataValues.name}} couldn't be found" class="resultImg">
                                {{/unless}}

                                <p class="resultText">Name: {{this.dataValues.name}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {{/each}}
    </div>
</div>

{{!-- jQuery Link --}}
<script src="https://code.jquery.com/jquery.js"></script>

{{!-- js link --}}
<script src="/js/search.js"></script>